[submodule "ParagraphClassification/synthesis-paragraph-classifier"]
	path = ParagraphClassification/synthesis-paragraph-classifier
	url = https://github.com/CederGroupHub/synthesis-paragraph-classifier.git
